numpy
opencv-python
tqdm
easydict
torch
torchvision
scikit-image
pyyaml
matplotlib
pytorchvideo
fvcore
ffmpeg-python
moviepy
parse
simplejson
psutil
tensorboard
scipy
av
cython
pandas
iopath
python-slugify
